[submodule "data/raw/hacktricks"]
	path = data/raw/hacktricks
	url = https://github.com/HackTricks-wiki/hacktricks
[submodule "data/raw/hacktricks-cloud"]
	path = data/raw/hacktricks-cloud
	url = https://github.com/HackTricks-wiki/hacktricks-cloud
[submodule "data/raw/exploit-notes"]
	path = data/raw/exploit-notes
	url = https://github.com/hideckies/exploit-notes
[submodule "data/raw/heap-exploitation"]
	path = data/raw/heap-exploitation
	url = https://github.com/DhavalKapil/heap-exploitation
[submodule "data/raw/pwn-notes"]
	path = data/raw/pwn-notes
	url = https://github.com/ir0nstone/pwn-notes
[submodule "data/raw/PayloadsAllTheThings"]
	path = data/raw/PayloadsAllTheThings
	url = https://github.com/swisskyrepo/PayloadsAllTheThings.git
